tqdm
pandas
numpy
git+https://github.com/huggingface/transformers
datasets 
loralib 
sentencepiece
bitsandbytes 
accelerate
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116 
torchvision==0.14.1+cu116
torchaudio==0.13.1 